@use '../base/color';

@import url(https://fonts.googleapis.com/css?family=Helvetica:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;1,100;1,500;1,700;);

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Helvetica', 'Open Sans', sans-serif;
  // font-weight: 800;
  background-color: color.$grey;
  color: color.$text;
}

p, input {
  font-size: 1rem;
  font-weight: normal;
}
