@use '../base/color';

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Inter', sans-serif;
  background-color: var(--grey);
  color: var(--text);
  font-size: 16px;
}

p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 .5rem;
}

input, button, a {
  font-family: 'Inter', sans-serif;
}

input {
  font-size: .9rem;
  font-weight: normal;
  margin: 0 0 .5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}