@use '../base/color';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: var(--grey);
  color: var(--text);
  font-size: 16px;
}

p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 .5rem;
}

input {
  font-size: .9rem;
  font-weight: normal;
  margin: 0 0 .5rem;
}