$grey: #1a1a1a;
$grey-dark: #404040;
$grey-light: #555;
$grey-light-soft: #333;

$black: #2a2a2a;
$black-dark: #1a1a1a;
$black-light: #252525cc;

$text: #fcfaf4;
$text-dark: #ccc;
$root: #ed4a49;
// $root: #ed4a49;
$root-light: #ffcccc;

:root {
	--grey: #1a1a1a;
	--grey-dark: #404040;
	--grey-light: #555;
	--grey-light-soft: #333;
	--black: #2a2a2a;
	--black-dark: #1a1a1a;
	--black-light: #252525cc;
	--text: #f6edd0;
	--text-dark: #c8bfa1;
	--root: #ed4a49;
	--root-light: #dc5353;
}

[data-theme="light"] {
	--grey: #fcfaf4;
	--grey-dark: #e8e6e0;
	--grey-light: #f9f7f1;
	--grey-light-soft: #f2f0ea;
	--black: #fffffe;
	--black-dark: #f0eeea;
	--black-light: #f9f7f1cc;
	--text: #413c3c;
	--text-dark: #444;
	--root: #ed4a49;
	--root-light: #ff8383;
}