$grey: #1a1a1a;
$grey-dark: #404040;
$grey-light: #555;
$grey-light-soft: #333;

$black: #2a2a2a;
$black-dark: #1a1a1a;
$black-light: #252525cc;

$text: #fcfaf4;
$text-dark: #ccc;
$root: #ed4a49;
// $root: #ed4a49;
$root-light: #ffcccc;

:root {
	--grey: #1a1a1a;
	--grey-dark: #404040;
	--grey-light: #555;
	--grey-light-soft: #333;
	--black: #2a2a2a;
	--black-dark: #1a1a1a;
	--black-light: #252525cc;
	--text: #f6edd0;
	--text-dark: #c8bfa1;
	--root: #ed4a49;
	--root-light: #dc5353;
}

[data-theme="light"] {
	--grey: #faf6ed;
	--grey-dark: #ece5d6;
	--grey-light: #f7f2e8;
	--grey-light-soft: #f0eadd;
	--black: #fffdf6;
	--black-dark: #eee8db;
	--black-light: #f7f2e8cc;
	--text: #413c3c;
	--text-dark: #444;
	--root: #ed4a49;
	--root-light: #ff8383;
}