$grey: #010000;
$grey-dark: #323232;
$grey-light: #444;
$grey-light-soft: #282828;

$black: #222;
$black-dark: #080808;
$black-light: #181818cc;

$text: #fcfaf4;
$root: #ed4a49;
$root-light: #ffcccc;
