$grey: #1a1a1a;
$grey-dark: #404040;
$grey-light: #555;
$grey-light-soft: #333;

$black: #2a2a2a;
$black-dark: #1a1a1a;
$black-light: #252525cc;

$text: #fcfaf4;
$text-dark: #ccc;
$root: #fc6767;
// $root: #ed4a49;
$root-light: #ffcccc;

:root {
	--grey: #1a1a1a;
	--grey-dark: #404040;
	--grey-light: #555;
	--grey-light-soft: #333;
	--black: #2a2a2a;
	--black-dark: #1a1a1a;
	--black-light: #252525cc;
	--text: #fcfaf4;
	--text-dark: #ccc;
	--root: #fc6767;
	--root-light: #ffcccc;
}

[data-theme="light"] {
	--grey: #fcfaf4;
	--grey-dark: #e0e0e0;
	--grey-light: #f5f5f5;
	--grey-light-soft: #f0f0f0;
	--black: #fff;
	--black-dark: #eaeaea;
	--black-light: #f5f5f5cc;
	--text: #181818;
	--text-dark: #444;
	--root: #ed4a49;
	--root-light: #fc6767;
}