@use 'base/color';
@use 'mixins/neumorph';

#controls #back-button, #controls #legend, #controls #surnames {
  z-index: 2;
}

#back-button {
  @include neumorph.neumorph;
  position: fixed;
  padding: 10px;
  margin: 15px;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 1.2rem;

  &:hover {
    @include neumorph.neumorph-hover;
  }

  &:active {
    @include neumorph.neumorph-active;
  }

  i {


  }
}

/* Legend */
#legend {
  bottom: 0;
  position: fixed;
  margin: 15px;

  & > p {
    width: 40px;
    margin-left: 0px;
    @include neumorph.neumorph;

    &:hover {
      @include neumorph.neumorph-hover;
    }

    &:active, &.active {
      @include neumorph.neumorph-active;
      border-radius: 0px 0px 7px 7px;
    }
  }

  #legend-content {
    width: 260px;
    max-height: 300px;
    background-color: color.$grey-light;
    border-radius: 7px 7px 0px 0px;
    overflow-y: auto;

    h2 {
      margin: 5px auto;
      font-weight: 800;
    }

    p {
      margin: 5px 0px;
    }
  }

  .legend-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 100%;
      margin-right: 4px;
    }
  }
}

#legend-button, #legend-content, #surnames-button, .surnames-content, .surnames-heading {
  margin: 0px auto;
  padding: 3px 15px;
}

#legend-button, #surnames-button {
  color: #888;

  &:hover {
    cursor: pointer;
  }
}

/* SURNAMES */
#surnames {
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 15px;

  & > p {
    width: 60px;
    margin-right: 0px;
    @include neumorph.neumorph;

    &:hover {
      @include neumorph.neumorph-hover;
    }

    &:active, &.active {
      @include neumorph.neumorph-active;
      border-radius: 0px 0px 7px 7px;
    }
  }

  .surnames-content {
    max-height: 400px;
    overflow-y: auto;
    background-color: color.$grey-light;
    border-radius: 0px 0px 0px 7px;
  }

  .surnames-heading {
    padding-bottom: 0px;
    background-color: color.$grey-light;
    border-radius: 7px 7px 0px 0px;

    h2 {
      margin: 5px auto;
    }

    p {
      margin: 0px auto;
      font-size: 0.85rem;
      color: #888;
    }
  }
}
