@use '../base/color';
@use '../mixins/neumorph';

#roots-area {
  z-index: 1;
  position: absolute;
}

.node-label, .link-label {
  @include neumorph.neumorph-black;
  padding: 0px 16px;
  max-width: 400px;
  background-color: color.$grey-light;
  color: #fcfcfc;
  text-align: center;
} 

.node-label h4 {
  margin-bottom: 0px;
  font-size: 1.2rem;
}

.node-label p {
  font-size: 1rem;
}
