@use '../base/color';
@use '../mixins/neumorph';

#load {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
    max-width: 900px;
  }

  section {
    padding-left: 5vw;

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  h1 {
    font-size: 3.5rem;
    margin: 0px;
    color: var(--root);
    font-style: italic;
    font-weight: 900;

    @media only screen and (min-width: 769px) {
      font-size: 5em;
    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    color: var(--text);
    margin: .5rem auto;

    @media only screen and (min-width: 769px) {
      font-size: 1.25rem;
    }
  }


  .sample-area {
    @media (min-width: 600px) {
      max-width: 650px;
    }

    .sampleButton {
      margin-right: .75rem;
      color: var(--text);
      background-color: var(--grey-dark);
      font-weight: normal;
      cursor: pointer;
      transition: background-color .25s;

      &:hover {
        transition: background-color .25s;
        background-color: #ed4a49aa;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--root);
      }
    }
  }

  .error {
    font-style: italic;
    color: var(--root);
  }

  input {
    @include neumorph.neumorph;
    text-transform: lowercase;

    &:hover {
      @include neumorph.neumorph-hover;
      transition: background-color .25s;
      background-color: #ed4a49aa;
    }

    &:active {
      @include neumorph.neumorph-active;
    }

    #file-upload-button {
      text-transform: lowercase !important;
      background-color: red;
    }
  }

  a {
    color: var(--root);
  }

  .links-area {
    display: flex;

    p {
      margin-right: 20px;
    }
  }

  a {
    text-decoration: none;
  }

  input[type="file"],
  input.form-control {
    background: var(--grey-dark);
    color: var(--text);
    border: 1px solid var(--grey-light-soft);
    border-radius: 1.2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    transition: background 0.2s, color 0.2s;
  }

  input[type="file"]:hover,
  input.form-control:hover {
    background: var(--root);
    color: var(--grey);
  }
}