@use '../base/color';
@use '../mixins/neumorph';

@import url(https://fonts.googleapis.com/css?family==Montserrat:wght@800&display=swap|Roboto:ital,wght@0,100;0,200;0,500;0,600;0,700;0,800;1,100;1,500;1,700;);

#load {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
    max-width: 900px;
  }

  section {
    margin-top: 15px;
    padding-left: 5vw;

  }

  h1 {
    font-size: 3em;
    margin: 0px;
    color: color.$root;

    @media only screen and (min-width: 600px) {
      font-size: 5em;
      margin-left: -7px;
    }
  }

  h3 {
    margin: 0px auto;
    font-weight: 400px;
  }


  .button-area {
    @media (min-width: 600px) {
      max-width: 650px;
    }

    .sampleButton {
      margin-right: 20px;
      color: color.$text;
      background-color: color.$root;
      font-weight: normal;
      cursor: pointer;
      transition: background-color .25s;

      &:hover {
        transition: background-color .25s;
        background-color: #ed4a49aa;
      }
    }
  }

  .error {
    font-style: italic;
    color: color.$root;
  }

  input {
    @include neumorph.neumorph;

    &:hover {
      @include neumorph.neumorph-hover;
      transition: background-color .25s;
        background-color: #ed4a49aa;
    }

    &:active {
      @include neumorph.neumorph-active;
    }
  }

  a {
    color: color.$root;
  }

  .links {
    display: flex;

    p {
      margin-right: 20px;
    }
  }

  a {
    text-decoration: none;
  }
}
