@import url('http://fonts.googleapis.com/css?family=Montserrat:500|Roboto|Open+Sans');

:root {
  --root-color: rgb(255, 153, 153, 0.7); /* b97c78 */
  --root-dark: #c44d58;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #222;
  color: #f8f8f8;
}

#title-area h1 {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 3em;
  margin: 0px;
  color: var(--root-color);
}

@media only screen and (min-width: 600px) {
  #title-area h1 {
    font-size: 5em;
    margin-left: -7px;
  }
}

#title-area h3 {
  margin: 0px auto;
  font-weight: 400px;
}

a {
  color: var(--root-color);
  text-decoration: none;
}

a:hover {
  color: var(--root-dark);
}

input {
  padding: 15px;
  background-color: #555;
  color: #f8f8f8;
  border: none;
}

input button {
  background-color: #111;
}

input:hover {
  background-color: #777;
}

#load-area {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 95vw;
}

/* #title-area {
  padding-top: 0vh;
} */

#title-area, #upload-area, #button-area, #documentation-area {
  margin-top: 15px;
  padding-left: 5vw;
}

@media only screen and (min-width: 600px) {
  #title-area {
    padding-top: 10vh;
  }

  #title-area, #upload-area, #button-area, #documentation-area, #error-area {
    margin-top: 40px;
    padding-left: 10vw;
  }

  #button-area {
    max-width: 500px;
  }
}

#error {
  font-style: italic;
  color: var(--root-dark);
}

#button-area input {
  margin-top: 8px;
  margin-bottom: 8px;
}

.sampleButton {
  margin-right: 20px;
  font-weight: normal;
}

#roots-area {
  z-index: 1;
  position: absolute;
}

#controls #back-button, #controls #legend, #controls #surnames {
  z-index: 2;
}

#back-button {
  position: fixed;
  padding: 10px;
  margin: 15px;
  width: 25px;
  height: 25px;
  background-color: #222;
}

#back-button:hover {
  background-color: #2a2a2a;
}

#back-button img {
  width: 25px;
  height: 25px;
}

#right-controls {
  right: 0;
  padding-right: 30px;
  position: fixed;
  margin: 15px;
  width: 30px;
  height: 25px;
}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2196F3;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

/* Legend */
#legend {
  bottom: 0;
  position: fixed;
  margin: 15px;
  background-color: #222;
}

#legend-button, #legend-content, #surnames-button, .surnames-content, .surnames-heading {
  margin: 0px auto;
  padding: 10px 15px;
}

#legend-button, #surnames-button {
  color: #888;
}

#legend-button:hover, #surnames-button:hover {
  background-color: #2a2a2a;
  cursor: pointer;
}

#legend-content {
  width: 300px;
  max-height: 300px;
  color: #ccc;
  overflow-y: auto;
}

#legend-content p {
  margin: 8px 0px;
}

.legend-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.legend-line img {
  height: 100%;
  margin-right: 4px;
}

/* SURNAMES */
#surnames {
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 15px;
  background-color: #222;
}

.surnames-content {
  max-height: 400px;
  overflow-y: auto;
}

.surnames-heading {
  padding-bottom: 0px;
}

.surnames-heading h2 {
  margin: 3px auto;
}

.surnames-heading p {
  margin: 0px auto;
  font-size: 0.85rem;
  color: #888;
}


/* Graph */

.node-label {
  padding: 15px 25px;
  max-width: 400px;
  background-color: #222;
  color: #fcfcfc;
  text-align: left;
}

.node-label h4 {
  margin-bottom: 0px;
  font-size: 1.2rem;
}

.node-label p {
  font-size: 1rem;
}

.link-label {
  padding: 15px 25px;
  max-width: 400px;
  background-color: #222;
  color: #f8f8f8;
  text-align: center;
}
